#chck{
    font-size: 30px;
    font-weight: bolder;
    color: teal;
    margin-bottom: 5%;
}

#navbar{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    font-weight: bolder;
    background-color: teal;
}
#div1{
    padding-top: .3%;
    margin-left: 70%;
}
#div2{
    padding-top: .3%;
    margin-left: 7%;
}
#div3{
    padding-top: .3%;
    margin-left: 7%;
}